<%= link_to "Logout", logout_path %>
<h1>LIST SHOW</h1>

  <%= link_to @list.user.username, @list.user%>:
  <ul>
  <br>
  <li>Category: <%= @list.activity.category %></li>
  <br>
  <li>Description: <%= @list.description %></li>
  <br>
  <li>Location: <%= @list.location %></li>
  <br>

</ul>

<!-- Add comment below -->
