<h3 class= "ui centered header"> <%= link_to @list.user.username, @list.user%> wants to <%= @list.description %> in <%= @list.location %>.</h3>


<% if @list.list_picture %>
  <img class="ui large centered image" src='<%="#{@list.list_picture}"%>'>
<% elsif FileTest.exist?("app/assets/images/#{@image}") %>
  <img class="ui large centered image" src='<%= asset_path "#{@image}" %>'>
<% end %>

<ul class= "ui centered sub header">
  <li><%= link_to @list.activity.category, @list.activity %></li>
  <% if @list.completed == false %>
    <%= button_to "Completed",complete_list_path %>
  <% elsif @list.completed == true && @list.list_picture == nil %>
    <%= form_for @list do |f| %>
    <label>Show us your moves!</label><br>
    <%=f.text_field :list_picture, placeholder: "Upload Photo Url" %>
    <%=f.submit%>
    <%end%>
  <% end%>
</ul>


<!-- Add comment below -->
<h3 class= "ui centered header"> Comments: </h3>
  <ul class= "ui centered sub header">
    <% @list.list_comments.each do |comment| %>
    <li>'<%= comment.content %>' by <%= link_to comment.user.username, comment.user %></li>
    <% end %>
  </ul>

<ul class= "ui centered sub header">
  <%= form_with model: ListComment.create do |form| %>
    <%= form.text_area :content %><br>
    <%= form.hidden_field :list_id, value: @list.id %>
    <%= form.hidden_field :user_id, value: session[:user_id] %>
    <%= form.submit %>
  <% end %>
</ul>
