<h2 id="index-form" class= "ui centered header"><%= @user.username %>'s list<br></h2>


<div class="w3-light-grey">
  <div class="w3-blue" style="width: <%=@user.completed_activities%>/<%=@user.total_activities%>">

  <%if @user.total_activities == 0 %>
    <h4>You have no activities! You should add some!</h4>
  <%else%>
    <h4><%=@user.completed_activities%>/<%=@user.total_activities%> goals or <%=@user.completed_activity_percentage %> of <%= @user.username %>'s list completed!</h4>
  <%end%>
</div>

<%if @user.profile_picture%>
  <img class="ui large centered image" src='<%="#{@user.profile_picture}" %>'>
<%end%>


<% if @user_id == session[:user_id]%>
  <u><h2 class= "ui centered sub header"> <%= link_to "Edit your profile!", edit_user_path%></h2></u>
<%end%>

<h1><%=@user.completed_activity_percentage %></h1>
<u><h2 class= "ui centered header"><%= @user.username %>'s list<br></h2></u>

<!-- <h3><%#=@user.completed_activity_percentage %></h3> -->

<hr>

<ul class= "ui centered sub header">
  <% @user.lists.each do |list| %>
        <%=  form_with model: List.create do |form| %>
        <%=  form.hidden_field :description, value: list.description %>
        <%=  form.hidden_field :location, value: list.location %>
        <%=  form.hidden_field :user_id, value: session[:user_id] %>
        <%=  form.hidden_field :activity_id, value: list.activity_id %>
        <li><%= link_to list.description, list %>
          <%  if @user.id != session[:user_id] %>
            <%= form.submit "Add" %>
          <%end%>
        <% end %>
    </li>
  <% end %>
</ul>

<ul class= "ui centered sub header">
Comments:
  <% @user.received_comments.each do |comment| %>
  <li>'<%= comment.content %>' by <%= link_to comment.posted.username, comment.posted %></li>
  <% end %>
</ul>

<ul class= "ui centered sub header">
  <%= form_with model: UserComment.create do |form| %>
    <%= form.text_area :content %><br>
    <%= form.hidden_field :received_id, value: @user.id %>
    <%= form.hidden_field :posted_id, value: session[:user_id] %>
    <%= form.submit %>
  <% end %>
</ul>
