<%= link_to "Logout", logout_path %>
<h1>USERS SHOW</h1>

<%= @user.username %>'s profile <br>
<br>

<ul>
  <% @user.lists.each do |list| %>
  <li><%= link_to list.description, list %></li>
  <% end %>
</ul>

<ul>
  <% @user.comments.each do |comment| %>
  <li><%= link_to comment.content, comment %></li>
  <% end %>
</ul>



<%= form_with model: Comment.new do |form| %>
  <%= form.text_area :content %><br>
  <%= form.submit %>
<% end %>
