<!DOCTYPE html>
<html>
  <head>
    <title>Viva!</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
  </head> <div class ="navigation">
    <ul>
      <%if session[:user_id] %>
      <%=link_to User.find(session[:user_id]).username, user_path(session[:user_id])%>
      <% end %>
      <%= link_to "Users", users_path %>
      <%= link_to "Activities", activities_path %>
      <%= link_to "New Item", new_list_path %>
      <%= link_to "Logout", logout_path %>
    </ul>

  <body>
    <%= yield %>
  </body>
</html>
